*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: 'sf-pro-display';
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}
a {
    color: inherit;
    text-decoration: none;
}
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: inherit;
}
ul {
    list-style: none;
}
@font-face {
    font-family: 'sf-pro-display';
    src: url('../fonts/SF-Pro-Display-Regular.woff2') format('woff2'),
         url('../fonts/SF-Pro-Display-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'sf-pro-display';
    src: url('../fonts/SF-Pro-Display-Bold.woff2') format('woff2'),
         url('../fonts/SF-Pro-Display-Bold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}
@font-face {
    font-family: 'spaceagecyrillic';
    src: url('../fonts/spaceagecyrillic-regular.woff2') format('woff2'),
         url('../fonts/spaceagecyrillic-regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}
/* header */
.header {
    background-image: url(../images/header-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.header__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 75px 0 30px;
}
.menu-btn {
    display: none;
    width: 40px;
    height: 40px;
    padding: 0;
    cursor: pointer;
    position: relative;
    z-index: 20;
}
.menu-btn span {
    position: relative;
    display: block;
    background-color: #fff;
    height: 2px;
}
.menu-btn span::before,
.menu-btn span::after {
    position: absolute;
    content: '';
    width: 40px;
    height: 2px;
    background-color: #fff;
    left: 0;
}
.menu-btn span::before {
    top: 10px;
}
.menu-btn span::after {
    top: -10px;
}
.menu__list {
    display: flex;
}
.menu__item {
    margin-right: 30px;
}
.menu__link,.footer-menu__link {
    font-family: 'sf-pro-display';
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    text-transform: uppercase;
    transition: color .5s;
}
.menu__link:hover {
    color: #CB0E0E;
}
.phone {
    font-family: 'sf-pro-display';
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
    margin-left: auto;
    margin-right: 22px;
}
.login {
    margin-right: 135px;
}
.header__content {
    max-width: 600px;
}
.header__title {
    font-family: 'spaceagecyrillic';
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 20px;
}
.header__title span {
    font-size: 110px;
}
.header__text {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 50px;
}
.header__btn {
    border: 1px solid #fff;
    font-family: 'sf-pro-display';
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
    text-transform: uppercase;
    width: 100%;
    padding: 15px 10px;
    margin-bottom: 40px;
}
.header__description {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5%;
}
.header__description-text {
    width: 165px;
}
.header__description-text + .header__description-text {
    margin-left: 52px;
}
/* about */
.about {
    background-image: url(../images/about-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.title {
    font-family: 'spaceagecyrillic';
    font-size: 48px;
    line-height: 48px;
    font-weight: 400;
    padding: 100px 0;
}
.about__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 150px;
}
.about__item:nth-child(odd) {
    flex-direction: row-reverse;
}
.about__img {
    max-width: 100%;
}
.about__content {
    width: 600px;
}
.about__content-title {
    font-family: 'sf-pro-display';
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
    margin-bottom: 5px;
}
.about__content-subtitle {
    font-family: 'sf-pro-display';
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    color: #036CCA;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.about__content-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.about__content-text p {
    max-width: 165px;
    font-family: 'sf-pro-display';
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
}
.about__table {
    width: 100%;
    margin-bottom: 50px;
}
.about__table-tr {
    border: 1px solid #fff;
    border-left: none;
    border-right: none;
}
.about__table-tr + .about__table-tr {
    font-size: 36px;
    line-height: 42px;
    font-weight: 700;
    text-align: center;
}
.about__table-td {
    padding: 10px 30px 10px 0;
}
.about__table-td:last-child {
    padding-right: 0;
}
.about__table-td span {
    display: block;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
}
.button {
    border: 1px solid #fff;
    text-transform: uppercase;
    padding: 20px 45px;
    font-size: 18px;
    line-height: 22px;
}
.about__table-caption {
    caption-side: bottom;
    text-align: left;
    margin-top: 20px;
    font-size: 12px;
    line-height: 14px;
}
/* how-to */
.how-to {
    background-image: url(../images/how-to-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding-bottom: 100px;
}
.how-to__box {
    text-align: center;
}
.how-to__box circle, text, foreignObject {
    transition: all .5s;
    cursor: pointer;
    font-size: 18px;
}
foreignObject {
    text-align: left;
}
.how-to__box g:hover circle {
    r: 20px;
    fill: #036CCA;
}
.how-to__box g:hover text {
    font-size: 36px;
    fill: #036CCA;
}
.how-to__box g:hover foreignObject {
    font-size: 22px;
    color: #036CCA;
}
/* to-book */
.to-book {
    background-image: url(../images/to-book-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.to-book__inner {
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
}
.to-book__content {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}
.to-book__content-text {
    width: 165px;
}
.to-book__content-text + .to-book__content-text {
    margin-left: 53px;
}
/* special-offer */
.info {
    background-image: url(../images/special-offer-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding-bottom: 100px;
}
.special-offer__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 42px;
}
.special-offer__inner-item {
    width: 500px;
    min-height: 400px;
}
.special-offer__inner-box {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #fff;
    margin-bottom: 25px;
    padding: 40px 75px;
    text-align: center;
}
.special-offer__inner-text {
    width: 236px;
    font-size: 24px;
    line-height: 29px;
    margin: 0 auto;
}
.special-offer__inner-text span {
    color: #CB0E0E;
}
.special-offer__new-price {
    font-size: 48px;
    line-height: 57px;
}
.special-offer__old-price {
    text-align: right;
    margin-bottom: 16px;
    position: relative;
}
.special-offer__old-price::before {
    content: "";
    position: absolute;
    width: 68px;
    height: 2px;
    background-color: #CB0E0E;
    top: 7px;
    right: -1px;
    transform: rotate(17deg)
}
.special-offer__btn {
    width: 100%;
}
/* extra-service */
.extra-service {
    padding-bottom: 200px;
}
.extra-service__inner {
    display: flex;
    justify-content: space-between;
}
.extra-service__text, .extra-service__list {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 25px;
}
.extra-service__list {
    list-style: none;
}
.extra-service__item {
    padding-left: 35px;
    position: relative;
}
.extra-service__item::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    top: 5px;
    left: 0;
}
.extra-service__subtext {
    font-size: 12px;
    line-height: 14px;
}
.extra-service__buttons {
    width: 500px;
}
.extra-service__btn {
    width: 100%;
    position: relative;
}
.extra-service__img {
    position: absolute;
    bottom: 42px;
    right: 0;
}
.extra-service__btn + .extra-service__btn {
    margin-top: 50px;
}
/* slider */
.slider__inner {
    border: 1px solid #fff;
    padding: 100px 65px;
    margin-bottom: 50px;
}
.slider__box {
    width: 800px;
    height: 450px;
    margin: 0 auto;
}
.slick-arrows {
    position: absolute;
    z-index: 5;
    cursor: pointer;
    top: 50%;
}
.slick-left {
    left: -130px;
}
.slick-right {
    right: -130px;
}
.slider__text {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    font-family: 'spaceagecyrillic';
    text-align: center;
}
/* client-info */
.client-info {
    background-color: #010203;
    padding-bottom: 100px;
}
.client-info__inner {
    display: flex;
}
.contacts {
    max-width: 500px;
    margin-right: 100px;
}
.contacts__text {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 105px;
}
.client-info .title {
    padding-bottom: 50px;
}
.contacts__input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    padding-bottom: 20px;
    margin-bottom: 60px;
}
.contacts__input::placeholder {
    font-family: 'sf-pro-display';
    font-size: 14px;
    line-height: 17px;
    color: #fff;
}
.contacts__btn {
    width: 100%;
}
.guarantee__text {
    font-size: 24px;
    line-height: 29px;
}
.guarantee__img {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}
/* footer */
.footer {
    background-image: url(../images/footer-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding-bottom: 100px;
}
.footer__inner {
    display: flex;
    justify-content: flex-end;
    padding: 100px 0 150px;
}
.footer__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 165px;
    margin-right: 52px;
}
.footer__content-text {
    font-size: 16px;
    line-height: 19px;
}
.footer-menu {
    display: block;
}
.footer-menu__item + .footer-menu__item,
.footer__item + .footer__item {
    margin-top: 20px;
}
.footer__links {
    margin-left: 110px;
}
.footer__item {
    font-family: 'sf-pro-display';
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    text-transform: uppercase;
    transition: color .5s;
}
.footer__item:hover {
    color: #CB0E0E;
}
/* media */
@media (max-width: 1024px) {
    .login {
        margin-right: 0;
    }
}

@media (max-width: 895px) {
    .header__top {
        padding-top: 30px;
    }
    .menu-btn {
        display: block;
    }
    .menu__list {
        transform: translateY(-150%);
        transition: all .5s;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #010203;
        width: 100%;
        padding: 90px 0 30px;
        text-align: center;
    }
    .menu__list.active {
        transform: translateY(0);
    }
    .menu__item {
        padding: 15px 0;
    }
    .menu__link {
        display: block;
    }
    .phone, .login {
        position: relative;
        z-index: 20;
    }
    .header__content {
        margin: 0 auto;
    }
    .header__description {
        justify-content: center;
    }
    .header {
        background-position: center right;
    }
}

@media (max-width: 620px) {
    .header__title span {
        font-size: 60px;
    }
    .header__title {
        font-size: 34px;
        line-height: 30px;
    }
    .header__content {
        text-align: center;
    }
    .header__text {
        justify-content: center;
        font-size: 18px;
    }
    .header__text p {
        padding: 0 10px;
    }
    .header__btn {
        font-size: 18px;
        line-height: 24px;
        width: 60%;
    }
    .header__description {
        display: block;
        text-align: center;
    }
    .header__description-text {
        width: 100%;
    }
    .header__description-text + .header__description-text {
        margin-left: 0;
        margin-top: 20px;
    }
}

@media (max-width: 360px) {
    .header__top {
        flex-wrap: wrap;
    }
    /* .phone {
        margin-top: 10px;
        margin-right: auto;
        width: 100%;
        text-align: center;
    }
    .login {
        order: -1;
    }
    .menu {
        order: -1;
    } */
}